<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User Profile</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Edit User Profile</h1>
<form th:action="@{/user/update}" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" th:value="${user.username}"/>
    </div>
    <!-- Остальные поля профиля пользователя для редактирования -->
    <div>
        <input type="submit" value="Save"/>
    </div>
</form>
</body>
</html>
