* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user a {
    color: #007bff;
    text-decoration: none;
}

.user a:hover {
    text-decoration: underline;
}

.user button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.game {
    padding: 20px;
}

.game_info{
    height: auto;
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    margin: 20px 20px;
}

.game span {
    display: inline-block;
    height: 50px;
    width: 100px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}

.game .game_info button {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.game_navigation button {
    width: 250px;
    height: 50px;
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.game img {
    width: 500px;
    height: 500px;
    margin: 10px;
    float: left;
}

.game p {
    width: 600px;
    margin: 10px;
    float: right;
}

.game ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    clear: both;
}

.game .game_genre li {
    display: inline-block;
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #007bff;
    text-align: center;
    line-height: 30px;
}

.game .game_screenshots {
    width: 1150px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game .game_info {
    width: 1150px;
    height: 600px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game .game_genre {
    width: 1150px;
    height: 50px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game .game_genre {
    width: 1150px;
    height: 50px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game .game_trailer {
    width: 1150px;
    height: 500px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game_trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game_trailer iframe {
    display: block;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game_instruction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game .game_instruction {
    width: 1150px;
    height: auto;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game_instruction pre {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: monospace;
}

.game .game_navigation {
    width: 1150px;
    height: auto;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.game .game_screenshots li {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #007bff;
    text-align: center;
    line-height: 30px;
}

.game li img {
    width: 90%;
    height: 90%;
}

.game iframe {
    width: 800px;
    height: 450px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.game a {
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}