* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("/img/background/pattern-doted-wide-honeycomb.png");
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 20px auto;
}

.edit {
    width: 1180px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit h1 {
    margin: 10px;
}

.edit label {
    display: block;
    margin: 10px;
}

.edit input {
    width: 80%;
    height: 40px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.edit select {
    width: 80%;
    height: auto;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.edit textarea {
    width: 80%;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.edit button {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.edit a {
    display: block;
    width: 100px;
    height: 40px;
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}

.data {
    width: 1180px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data h2 {
    margin: 10px;
}

.data label {
    display: block;
    margin: 10px;
}

.data select {
    width: 80%;
    height: 40px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.data button {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    background-color: yellow;
    font-weight: bold;
}

.screenshot-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


.game_name ,
.game_poster ,
.game_screenshots ,
.game_description ,
.game_video ,
.game_instruction ,
.game_genre ,
.game_year{
    width: 1050px;
    height: 60px auto;
    margin: 30px ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game_name .label-container,
.game_screenshots .label-container,
.game_poster .label-container,
.game_poster .imagePreview-container,
.game_description .label-container,
.game_video .label-container,
.game_instruction .label-container,
.game_genre .label-container,
.game_genre .genreList-container,
.game_year .label-container{
    display: flex;
    align-items: center;
}

.game_name label,
.game_poster label,
.game_screenshots label,
.game_description label,
.game_video label,
.game_instruction label,
.game_genre label,
.game_year label{
    margin: 15px 15px;
    font-size: 25px;
    vertical-align: middle;
}

.game_name input,
.game_poster input,
.game_screenshots input,
.game_video input,
.game_year input{
    width: 98%;
}

.game_description textarea,
.game_instruction textarea{
    width: 98%;
}

.game_genre select{
    width: 70%;
}

.game_genre .add_button{
    width: 25%;
    height: 40px
}



.game_poster img{
    width: 94%;
    height: auto;
    margin: 10px ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game_poster button{
    width: 94%;
    height: 50px;
}

.game_poster .imagePreview{
    width: 30%;
    height: auto;
    margin: 20px ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.genreList div{
    width: 23%;
    height: 50px ;
    margin: 10px ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genreList button{
    width: 300px ;
    height: 40px;
    margin: 10px;
    text-align: center;
}

.genreList span{
    text-align: left;
    margin: 10px;
    width: 450px;
    margin: 30px;
}

.game_screenshots .screenshot-item{
    width: 20% ;
    height: auto;
    margin: 5px ;
    flex-basis: 24%; /* Ширина элемента на одной строке, здесь на 4 элемента */
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.game_screenshots img{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 5x ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.game_screenshots button{
    width: 90%;
    height: 40px;
    margin: 5x ;
}

.game_screenshots .screenshotsList{
    display: flex;
    flex-wrap: wrap;
}

.game_genre .genreList{
    display: flex;
    flex-wrap: wrap;
}