
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header_library{
    width: 10%
}

.header_library img{
    width: 83%;
    border-radius: 10px;
}


.header_search{
    width: 59%;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 0px 0px;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search_container {
    width: 220%;
    margin: 20px 1px 1px;
    display: flex;
    align-items: center;
}

.header_search input{
    width: 75%;
    height: 40px;
    margin: 1px 10px 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.header_search button{
    width: 25%;
    height: 40px;
    margin: 1px;
    background-color: rgba(32, 33, 36, 0.87);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.header_search button:hover{
    background-color: rgba(48, 49, 52, 0.76);
    color: white;
}

.header_user {
    width: 285px;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_container {
    width: 80%;
    margin: 25px 10px 10px;
    display: flex;
    align-items: center;
}

.avatar{
    margin: 5px;
    width: 60px;
}

.name_user{
    margin: 5px;
    width: 100px;
}

.logout_button{
    margin: 5px;
    width: 100px;
    float: right;
}

.header_user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.header_user a {
    font-size: 20px;
    color:  rgba(32, 33, 36, 0.87);
    text-decoration: none;
}

.header_user a:hover{
    color: rgba(48, 49, 52, 0.76);
}

.header_user a:hover {
    text-decoration: underline;
}

.header_user button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: rgba(32, 33, 36, 0.87);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.header_user button:hover{
    background-color: rgba(48, 49, 52, 0.76);
    color: white;
}