
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1180px;
    padding: 20px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.user {
    width: 295px;
    display: flex;
    align-items: center;
}

.user_container {
    display: flex;
    align-items: center;
}

.avatar{
    margin: 5px;
    width: 60px;
}

.name_user{
    margin: 5px;
    width: 100px;
}

.logout_button{
    margin: 5px;
    width: 100px;
    float: right;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user a {
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
}

.user a:hover {
    text-decoration: underline;
}

.user button {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}