* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("/img/background/pattern-doted-wide-honeycomb.png");
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 20px auto;
}

.profile {
    width: 1000px;
    padding: 40px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

.profile h1 {
    width: 98%;
    margin: 10px;
}

.profile label {
    display: block;
    margin: 10px;
}

.profile input {
    width: 80%;
    height: 40px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.profile button {
    width: 95%;
    height: 50px;
    margin: 10px 10px;
    background-color: rgba(32, 33, 36, 0.87);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.profile button:hover{
    background-color: rgba(48, 49, 52, 0.76);
    color: white;
}

.avatar_div,
.pass_div{
    width: 47%;
    height: 60px auto;
    margin: 20px 10px;
    padding: 1px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_pass,
.user_name,
.avatar_ico{
    width: 96%;
    height: 60px auto;
    margin: 20px 10px;
    padding: 1px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user_pass .label-container,
.user_name .label-container,
.avatar_ico .label-container{
    display: flex;
    align-items: center;
}

.user_pass label,
.user_name label,
.avatar_ico label{
    margin: 15px 15px;
    font-size: 25px;
    vertical-align: middle;
}

.user_pass input,
.user_name input,
.avatar_ico input{
    width: 95%;
}



.avatar_ico img{
    width: 87%;
    height: auto;
    margin: 10px ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.avatar_ico button{
    width: 87%;
    height: 50px;
    margin: 5px 10px;
}

.avatar_ico .imagePreview{
    width: 40%;
    height: auto;
    margin: 20px ;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.popup-close {
    float: right;
    cursor: pointer;
}