<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/game.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script>
        function openModal(img) {
            var modal = document.getElementById("modal");
            var modalImg = document.getElementById("modalImg");

            modal.style.display = "block";
            modalImg.src = img.src;
            modalImg.style.width = "auto";
            modalImg.style.height = "auto";
        }

        function closeModal() {
            var modal = document.getElementById("modal");
            modal.style.display = "none";
        }

        function goBack() {
            window.history.back();
        }

    </script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="/library" style="text-decoration: none; color: inherit;">
                <img src="/img/logo.jpg" alt="Logo">
            </a>
        </div>
        <div class="user">
            <a href="profile.html" style="text-decoration: none; color: inherit;">
                <img src="/img/user.png" alt="User">
            </a>
            <a href="profile.html">Иван Иванов</a>
            <button type="button">Выйти</button>
        </div>
    </div>
    <div class="game">
        <div class="game_info">
            <div class="title">
                <h1 th:text="${game.name} + ' (' + ${game.releaseDate} + ')'"></h1>
            </div>
            <div class="poster">
                <img th:src="${game.logo}" th:alt="${game.name}" onclick="openModal(this)">
            </div>
            <div id="modal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    <img id="modalImg" onclick="closeModal()">
                </div>
            </div>
            <div class="description">
                <span th:text="${game.platform}"></span>
                <button type="button">Скачать</button>
                <p th:text="${game.description}"></p>
            </div>
        </div>
        <div class="game_genre">
            <ul>
                <li th:each="genre : ${game.genres}" th:text="${genre}"></li>
            </ul>
        </div>
        <div class="game_screenshots">
            <li th:each="screenshot, stat : ${game.screenshots}">
                <img th:src="${screenshot}" th:alt="'img' + ${stat.index} + '.jpg'" onclick="openModal(this)" data-index="${stat.index}">
            </li>
        </div>
        <div class="game_trailer" th:if="${game.trailerUrl != null and game.trailerUrl != '' and game.trailerUrl != 'N/A'}">
            <iframe id="trailerFrame" th:src="${game.trailerUrl}" th:title="${game.name}"></iframe>
        </div>
        <div class="game_instruction">
            <pre th:text="${game.instruction}"></pre>
        </div>
        <div class="game_navigation">
            <a href="#" onclick="goBack()">Назад</a>
            <a th:href="${game.id} + '/edit'">Редактировать</a>
        </div>
    </div>
</div>
</body>
</html>