<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/game_edit.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link rel="icon" type="image/png" th:href="@{/img/app_ico.png}" />
    <title>Game Library App - Edit Game</title>
    <script>

        $(document).ready(function () {
            document.getElementById("h_searchText").addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("h_searchButton").click();
                }
            });
        });

        function goBack() {
            window.history.back();
        }

        function addGenre() {
            var selectedGenre = document.getElementById("genre");
            var selectedOptionGenre = selectedGenre.options[selectedGenre.selectedIndex];
            var genreList = document.getElementById("genreList");

            if (selectedGenre.value !== "" && !checkDuplicateGenre(selectedGenre.value)) {
                var genreDiv = document.createElement("div");
                genreDiv.innerHTML = "<span>" + selectedOptionGenre.textContent + "</span>"
                    + "<button type='button' onclick='removeGenre(this)'>[[#{view.navigation.delete.button}]]</button>";
                genreList.appendChild(genreDiv);

                var hiddenInput = document.createElement("input");
                hiddenInput.type = "hidden";
                hiddenInput.name = "genres";
                hiddenInput.value = selectedGenre.value;
                genreDiv.appendChild(hiddenInput);

                selectedGenre.selectedIndex = 0;
            } else {
                // Обработка ошибки выбора дубликата или невалидного жанра
            }
        }

        function removeGenre(element) {
            element.parentElement.remove();
        }

        function checkDuplicateGenre(genreValue) {
            var genreList = document.querySelectorAll("#genreList span");
            for (var i = 0; i < genreList.length; i++) {
                if (genreList[i].textContent === genreValue) {
                    return true;
                }
            }
            return false;
        }



        function previewImage(input) {
            var imagePreview = document.getElementById("imagePreview");
            imagePreview.innerHTML = "";

            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var imgElement = document.createElement("img");
                    imgElement.src = e.target.result;

                    var removeButton = document.createElement("button");
                    removeButton.type = "button";
                    removeButton.innerText = "[[#{view.navigation.delete.button}]]";
                    removeButton.onclick = function () {
                        imagePreview.innerHTML = "";
                        input.value = "";
                        logoInput.value = "";
                    };

                    imagePreview.appendChild(imgElement);
                    imagePreview.appendChild(removeButton);

                    // Обновляем значение поля logo при загрузке нового изображения
                    logoInput.value = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        }


        function previewScreenshots(input) {
            var screenshotList = document.getElementById("screenshotsList");

            var files = input.files;
            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();
                reader.onload = function (e) {
                    var screenshotDiv = document.createElement("div");
                    screenshotDiv.className = "screenshot-item";

                    var imgElement = document.createElement("img");
                    imgElement.src = e.target.result;

                    var removeButton = document.createElement("button");
                    removeButton.type = "button";
                    removeButton.innerText = "[[#{view.navigation.delete.button}]]";
                    removeButton.onclick = function () {
                        screenshotDiv.remove();
                    };

                    var hiddenInput = document.createElement("input");
                    hiddenInput.type = "hidden";
                    hiddenInput.name = "screenshots";
                    hiddenInput.value = e.target.result;

                    screenshotDiv.appendChild(imgElement);
                    screenshotDiv.appendChild(removeButton);
                    screenshotDiv.appendChild(hiddenInput);

                    screenshotList.appendChild(screenshotDiv);
                }
                reader.readAsDataURL(file);
            }
        }

        function removeScreenshot(button) {
            var screenshotDiv = button.parentElement;
            screenshotDiv.remove();
        }


        function toggleUrlField() {
            var urlField = document.querySelector(".url-field");
            var scrapAttr = document.querySelector(".scrap-attr-container");
            var scrapSource = document.querySelector(".scrap-source-container");
            var selectedValue = document.getElementById("source").value;
            if (selectedValue === "playground" || selectedValue === "igromania" || selectedValue === "kanobu") {
                urlField.classList.remove("hidden");
                scrapAttr.classList.remove("hidden");
                scrapSource.classList.remove("hidden");
            } else {
                urlField.classList.add("hidden");
                scrapAttr.classList.add("hidden");
                scrapSource.classList.add("hidden");
            }
            if(selectedValue === "playground"){
                removeLink("scrap-source-href");
                insertLink("scrap-source-href","Playground","https://www.playground.ru/games");
            }
            else if(selectedValue === "igromania"){
                removeLink("scrap-source-href");
                insertLink("scrap-source-href","Igromania","https://www.igromania.ru/games/");
            }
            else if(selectedValue === "kanobu"){
                removeLink("scrap-source-href");
                insertLink("scrap-source-href","Kanobu","https://kanobu.ru/games/popular/");
            }
            else{
                removeLink("scrap-source-href");
            }
        }


        function insertLink(divId, linkText, linkHref) {
            var div = document.getElementById(divId);
            if (!div) {
                console.error('Div с id ' + divId + ' не найден');
                return;
            }
            var link = document.createElement('a');
            link.href = linkHref;
            link.textContent = linkText;
            link.target = '_blank'; // Открывать ссылку в новой вкладке
            link.className = 'button'; // Добавляем класс 'button' к ссылке
            div.appendChild(link);
        }

        function removeLink(divId) {
            var div = document.getElementById(divId);
            if (!div) {
                console.error('Div с id ' + divId + ' не найден');
                return;
            }
            div.innerHTML = '';
        }

    </script>
</head>
<body>
<div class="container">
    <div class="header" th:include="header :: header"></div>
    <div class="data">
        <h2 th:text="#{view.game.edit.data.title}"></h2>
        <form th:action="@{'/library/game/' + ${game.id} + '/grab'}" method="post">
            <label for="source" th:text="#{view.game.edit.data.source.title}"></label>
            <select id="source" name="source"  onchange="toggleUrlField()">
                <option value="manual" th:text="#{view.game.edit.data.source.manual}"></option>
                <!--<option value="iddb">IDDB</option>-->
                <option value="playground">Playground.ru</option>
                <option value="igromania">Igromania.ru</option>
                <option value="kanobu">Kanobu.ru</option>
            </select>
            <div class="scrap-source-container hidden">
                <div  id="scrap-source-href" class="scrap-source-href">

                </div>
            </div>
            <div class="scrap-attr-container hidden">
                <div class="scrap-attr">
                    <input type="checkbox" id="scrap_title" name="title" checked="checked">
                    <label for="scrap_title" th:text="#{view.game.edit.data.attr.title}"></label>
                    <input type="checkbox" id="scrap_poster" name="poster" checked="checked">
                    <label for="scrap_poster" th:text="#{view.game.edit.data.attr.poster}"></label>
                    <input type="checkbox" id="scrap_description" name="description" checked="checked">
                    <label for="scrap_description" th:text="#{view.game.edit.data.attr.description}"></label>
                    <input type="checkbox" id="scrap_year" name="year" checked="checked">
                    <label for="scrap_year" th:text="#{view.game.edit.data.attr.year}"></label>
                    <input type="checkbox" id="scrap_genres" name="genres" checked="checked">
                    <label for="scrap_genres" th:text="#{view.game.edit.data.attr.genres}"></label>
                    <input type="checkbox" id="scrap_screens" name="screens" checked="checked">
                    <label for="scrap_screens" th:text="#{view.game.edit.data.attr.screens}"></label>
                </div>
            </div>
            <div class="url-field hidden">
                <label for="url" th:text="#{view.game.edit.data.source.url}"></label>
                <input type="text" id="url" name="url">
            </div>
            <button type="submit" th:text="#{view.navigation.confirm}"></button>
        </form>
    </div>
    <div class="edit">
        <h1 th:text="#{view.game.edit.title}"></h1>
        <form th:action="@{'/library/game/' + ${game.id} + '/edit'}" method="post">
            <input type="hidden" id="directoryPath" name="directoryPath" th:value="${game.directoryPath}">
            <input type="hidden" id="platform" name="platform" th:value="${game.platform}">
            <div class="game_name">
                <div class="label-container">
                    <label for="title" th:text="#{view.game.edit.name}"></label>
                </div>
                <input type="text" id="title" name="name" th:value="${game.name}">
            </div>
            <div class="game_year">
                <div class="label-container">
                    <label for="year" th:text="#{view.game.edit.year}"></label>
                </div>
                <input type="text" id="year" name="releaseDate" th:value="${game.releaseDate}">
            </div>
            <div class="game_poster">
                <div class="label-container">
                    <label for="poster" th:text="#{view.game.edit.poster}"></label>
                </div>
                <input type="file" id="poster" name="poster" accept="image/png, image/jpeg, image/jpg" onchange="previewImage(this)">
                <div class="imagePreview-container">
                    <div id="imagePreview" class="imagePreview"></div>
                </div>
                <input type="hidden" id="logo" name="logo" th:value="${game.logo}">
                <script>
                    var logoInput = document.getElementById("logo");

                    // Проверяем, есть ли значение в поле logo при загрузке формы
                    if (logoInput.value) {
                        var imagePreview = document.getElementById("imagePreview");
                        var imgElement = document.createElement("img");
                        imgElement.src = logoInput.value;

                        var removeButton = document.createElement("button");
                        removeButton.type = "button";
                        removeButton.innerText = "[[#{view.navigation.delete.button}]]";
                        removeButton.onclick = function () {
                            imagePreview.innerHTML = "";
                            logoInput.value = "";
                        };

                        imagePreview.appendChild(imgElement);
                        imagePreview.appendChild(removeButton);
                    }
                </script>
            </div>
            <div class="game_description">
                <div class="label-container">
                    <label for="description" th:text="#{view.game.edit.description}"></label>
                </div>
                <textarea id="description" name="description" th:value="${game.description}" th:utext="${game.description}"></textarea>
            </div>
            <div class="game_genre">
                <div class="label-container">
                    <label for="genre" th:text="#{view.game.edit.genre}"></label>
                </div>
                <select id="genre" name="genre">
                    <option value="" th:text="#{view.game.edit.genre.select}"></option>
                    <option th:each="genre : ${genres}"
                            th:value="${genre.toString()}"
                            th:text="${messageSource.getMessage('enum.genre.' + genre.toString(), null, locale)}"></option>
                </select>
                <button type="button" class="add_button" onclick="addGenre()" th:text="#{view.navigation.add.button}"></button>
                <div class="genreList-container">
                    <div id="genreList" class="genreList">
                        <div th:each="genre : ${current_genres}">
                            <span th:text="${messageSource.getMessage('enum.genre.' + genre.toString(), null, locale)}"></span>
                            <button type="button" onclick="removeGenre(this)" th:text="#{view.navigation.delete.button}"></button>
                            <input type="hidden" th:name="genres" th:value="${genre.toString()}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="game_screenshots">
                <div class="label-container">
                    <label for="screenshotsUpl" th:text="#{view.game.edit.screen}"></label>
                </div>
                <input type="file" id="screenshotsUpl" name="screenshotsUpl" accept="image/png, image/jpeg, image/jpg" multiple onchange="previewScreenshots(this)">
                <div id="screenshotsList" class="screenshotsList">
                    <div th:each="screenshot : ${game.screenshots}" class="screenshot-item">
                        <img th:src="${screenshot}" alt="screenshot">
                        <button type="button" onclick="removeScreenshot(this)" th:text="#{view.navigation.delete.button}"></button>
                        <input type="hidden" name="screenshots" th:value="${screenshot}">
                    </div>
                </div>
            </div>
            <div class="game_video">
                <div class="label-container">
                    <label for="video" th:text="#{view.game.edit.video}"></label>
                </div>
                <input type="text" id="video" name="trailerUrl" th:value="${game.trailerUrl}">
            </div>
            <div class="game_instruction">
                <div class="label-container">
                    <label for="instructions" th:text="#{view.game.edit.instruction}"></label>
                </div>
                <textarea id="instructions" name="instruction" th:utext="${game.instruction}"></textarea>
            </div>
            <button type="submit" th:text="#{view.navigation.save}"></button>
        </form>
        <a href="#" onclick="goBack()" th:text="#{view.navigation.cancel}"></a>
    </div>
</div>
</body>
</html>