<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/game.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script>
        $(document).ready(function () {
            document.getElementById("h_searchText").addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("h_searchButton").click();
                }
            });
        });

        function openModal(img) {
            var modal = document.getElementById("modal");
            var modalImg = document.getElementById("modalImg");

            modal.style.display = "block";
            modalImg.src = img.src;
            modalImg.style.width = "90%";
            modalImg.style.height = "90%";
        }

        function closeModal() {
            var modal = document.getElementById("modal");
            modal.style.display = "none";
        }

        function goBack() {
            window.history.back();
        }

    </script>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header_library">
            <a href="/library" style="text-decoration: none; color: inherit;">
                <img src="/img/logo.jpg" alt="Logo">
            </a>
        </div>
        <div class="header_search">
            <form th:action="@{/search}" method="post">
                <div class="search_container">
                    <input type="text" th:placeholder="#{view.library.filter.search.name.placeholder}" name="searchText" id="h_searchText" th:value="${searchText}"><button id="h_searchButton" type="submit" th:text="#{view.navigation.find}"></button>
                </div>
            </form>
        </div>
        <div class="header_user">
            <form th:action="@{/logout}" method="post">
                <div class="user_container">
                    <div class="avatar">
                        <a href="/profile" style="text-decoration: none; color: inherit;">
                            <img th:src="${user.avatar}" alt="User"/>
                        </a>
                    </div>
                    <div class="name_user">
                        <a href="/profile" th:text="${user.name}"></a>
                    </div>
                    <div class="logout_button">
                        <button type="submit" th:text="#{view.user.logout.button}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="game">
        <div class="game_info">
            <div class="title">
                <h1 th:text="${game.name} + ' (' + ${game.releaseDate} + ')'"></h1>
            </div>
            <div class="poster">
                <img th:src="${game.logo}" th:alt="${game.name}" onclick="openModal(this)">
            </div>
            <div id="modal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    <img id="modalImg" onclick="closeModal()">
                </div>
            </div>
            <div class="description">
                <span th:text="${game.platform}"></span>
                <a target="_blank" th:href="@{'/library/game/' + ${game.id} + '/download'}" th:text="#{view.navigation.download}"></a>
                <!--<button type="button" target="_blank" th:href="@{'/library/game/' + ${game.id} + '/download'}" >Скачать</button>-->
                <p th:text="${game.description}"></p>
            </div>
        </div>
        <div class="game_genre">
            <ul>
                <li th:each="genre : ${current_genres}" th:text="${messageSource.getMessage('enum.genre.' + genre.toString(), null, locale)}"></li>
            </ul>
        </div>
        <div class="game_screenshots">
            <li th:each="screenshot, stat : ${game.screenshots}">
                <img th:src="${screenshot}" th:alt="'img' + ${stat.index} + '.jpg'" onclick="openModal(this)" data-index="${stat.index}">
            </li>
        </div>
        <div class="game_trailer" th:if="${game.trailerUrl != null and game.trailerUrl != '' and game.trailerUrl != 'N/A'}">
            <iframe id="trailerFrame" th:src="${game.trailerUrl}" th:title="${game.name}"></iframe>
        </div>
        <div class="game_instruction">
            <pre th:text="${game.instruction}"></pre>
        </div>
        <div class="game_navigation">
            <a href="#" onclick="goBack()" th:text="#{view.navigation.back}"></a>
            <a th:if="${user.isAdmin}" th:href="${game.id} + '/edit'" th:text="#{view.navigation.edit}"></a>
        </div>
    </div>
</div>
</body>
</html>