<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" th:href="@{/css/game.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.fancybox.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.fancybox.min.js}"></script>
    <link rel="icon" type="image/png" th:href="@{/img/app_ico.png}" />
    <title>Game Library App - Game View</title>
    <script>
        $(document).ready(function () {
            replaceNbsp();
            document.getElementById("h_searchText").addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("h_searchButton").click();
                }
            });
            $(".game_screenshots a").fancybox({
                buttons: [
                    "close",
                    "slideShow",
                    "zoom",
                    "fullScreen",
                    "thumbs",
                    "share",
                ],
            });
            $(".poster a").fancybox({
                buttons: [
                    "close",
                    "zoom",
                ],
            });
        });

        function goBack() {
            window.history.back();
        }

        function replaceNbsp() {
            var descriptionDiv = document.querySelector('.description');
            if (descriptionDiv) {
                var pElements = descriptionDiv.getElementsByTagName('p');
                for (var i = 0; i < pElements.length; i++) {
                    var p = pElements[i];
                    p.innerHTML = p.innerHTML.replace(/&nbsp;/g, ' ');
                }
            }
        }

    </script>
</head>
<body>
<div class="container">
    <div class="header" th:include="header :: header"></div>
    <div class="game">
        <div class="game_info">
            <div class="title">
                <h1 th:text="${game.name} + ' (' + ${game.releaseDate} + ')'"></h1>
            </div>
            <div class="poster">
                <a th:href="${game.logo}" data-fancybox="poster">
                    <img th:src="${game.logo}" th:alt="${game.name}">
                </a>
            </div>
            <div class="description">
                <span th:text="${game.platform}"></span>
                <a target="_blank" th:href="@{'/library/game/' + ${game.id} + '/download'}" th:text="#{view.navigation.download}"></a>
                <!--<button type="button" target="_blank" th:href="@{'/library/game/' + ${game.id} + '/download'}" >Скачать</button>-->
                <p th:utext="${stringUtils.replaceSpacesWithHtmlEntities(game.description)}"></p>
            </div>
        </div>
        <div class="game_genre">
            <ul>
                <li th:each="genre : ${current_genres}" th:text="${messageSource.getMessage('enum.genre.' + genre.toString(), null, locale)}"></li>
            </ul>
        </div>
        <div class="game_screenshots">
            <li th:each="screenshot, stat : ${game.screenshots}">
                <a th:href="@{'/library/image/' + ${screenshot}}" data-fancybox="gallery">
                    <img th:src="@{'/library/image/' + ${screenshot}}" th:alt="'img' + ${stat.index} + '.jpg'" data-index="${stat.index}"/>
                </a>
            </li>
        </div>
        <div class="game_trailer" th:if="${game.trailerUrl != null and game.trailerUrl != '' and game.trailerUrl != 'N/A'}">
            <iframe id="trailerFrame" th:src="${game.trailerUrl}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="game_instruction">
            <pre th:text="${game.instruction}"></pre>
        </div>
        <div class="game_navigation">
            <a href="#" onclick="goBack()" th:text="#{view.navigation.back}"></a>
            <a th:if="${user.isAdmin}" th:href="${game.id} + '/edit'" th:text="#{view.navigation.edit}"></a>
        </div>
    </div>
</div>
</body>
</html>