<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/library.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script>

        $(document).ready(function () {
            document.getElementById("searchText").addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("submitButton").click();
                }
            });
        });

        function submitForm() {
            document.getElementById("filterForm").submit();
        }

        function resetForm() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(checkbox => checkbox.checked = false);

            document.getElementById("searchText").value = "";
            submitForm();
        }

        function gotoPage1(button) {
            goToPage(button,'paginationForm1');
        }

        function gotoPage2(button) {
            goToPage(button,'paginationForm2');
        }

        function goToPage(button,gormId){
            const page = button.getAttribute('data-page');
            const form = document.getElementById(gormId);
            const searchText = document.getElementsByName('searchText')[0].value;
            const selectedPlatforms = Array.from(document.querySelectorAll('input[name="selectedPlatforms"]:checked')).map(input => input.value);
            const selectedGenres = Array.from(document.querySelectorAll('input[name="selectedGenres"]:checked')).map(input => input.value);
            const selectedYears = Array.from(document.querySelectorAll('input[name="selectedYears"]:checked')).map(input => input.value);
            const curField = document.getElementById('sortField').value;
            const curSrtType = document.getElementById('sortType').value;
            form.action = `/filter?searchText=${searchText}&selectedPlatforms=${selectedPlatforms.join(',')}&selectedGenres=${selectedGenres.join(',')}&selectedYears=${selectedYears.join(',')}&page=${page}&sortField=${curField}&sortType=${curSrtType}`;
            form.submit();
        }

        function gotoSort(field){
            const curField = document.getElementById('sortField').value;
            const curSrtType = document.getElementById('sortType').value;
            var srtType = "asc";
            if(field === curField){
                if(srtType === curSrtType) srtType = 'desc';
            }
            const form = document.getElementById('sortForm');
            const searchText = document.getElementsByName('searchText')[0].value;
            const selectedPlatforms = Array.from(document.querySelectorAll('input[name="selectedPlatforms"]:checked')).map(input => input.value);
            const selectedGenres = Array.from(document.querySelectorAll('input[name="selectedGenres"]:checked')).map(input => input.value);
            const selectedYears = Array.from(document.querySelectorAll('input[name="selectedYears"]:checked')).map(input => input.value);
            form.action = "/sort?searchText=" + searchText + "&selectedPlatforms=" + selectedPlatforms.join(',') + "&selectedGenres=" + selectedGenres.join(',') + "&selectedYears=" + selectedYears.join(',') + "&sortField=" + field + "&sortType=" + srtType;
            form.submit();
        }

        function showPopup() {
            var message = document.getElementById("message").value;
            if (message) {
                var popup = document.getElementById("popup");
                popup.innerHTML = message + '<span class="popup-close" onclick="closePopup()">&times;</span>';
                popup.style.display = "block";
                setTimeout(function() {
                    closePopup();
                }, 5000);
            }
        }

        function closePopup() {
            var popup = document.getElementById("popup");
            popup.style.display = "none";
        }

    </script>

</head>
<body onload="showPopup()">
<div id="popup" class="popup"></div>
<input type="hidden" id="message" th:value="${message}"/>
<div class="container">
    <div class="header">
        <div class="logo">
            <a href="/library" style="text-decoration: none; color: inherit;">
                <img src="/img/logo.jpg" alt="Logo">
            </a>
        </div>
        <div class="information">
            <h1 th:text="#{view.profile.title.short} + ' ' + ${user.name}"></h1>
        </div>
        <div class="user">
            <form th:action="@{/logout}" method="post">
                <div class="user_container">
                    <div class="avatar">
                        <a href="/profile" style="text-decoration: none; color: inherit;">
                            <img th:src="${user.avatar}" alt="User"/>
                        </a>
                    </div>
                    <div class="name_user">
                        <a href="/profile" th:text="${user.name}"></a>
                    </div>
                    <div class="logout_button">
                        <button type="submit" th:text="#{view.user.logout.button}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="filter">
        <form th:action="@{/filter}" id="filterForm" method="post">
            <script>

            </script>
            <h3 th:text="#{view.library.filter.search}"></h3>
            <div class="search">
                <input type="text" th:placeholder="#{view.library.filter.search.name.placeholder}" name="searchText" id="searchText" th:value="${searchText}">
            </div>
            <h3 th:text="#{view.library.filter.platforms}"></h3>
            <div class="platform-list" th:classappend="${platforms.size() > 10} ? 'scrollable' : ''">
            <ul th:each="platform : ${platforms}">
                <li>
                    <input class="form-check-input" type="checkbox" th:id="'platformCheckbox-' + ${platform}" name="selectedPlatforms" th:value="${platform}" th:checked="${selectedPlatforms.contains(platform)}" onclick="submitForm()">
                    <label class="form-check-label" th:for="'platformCheckbox-' + ${platform}" th:text="${platform}"></label>
                </li>
            </ul>
            </div>
            <h3 th:text="#{view.library.filter.genres}"></h3>
            <div class="genre-list" th:classappend="${genres.size() > 10} ? 'scrollable' : ''">
            <ul th:each="genre : ${genres}"  >
                <li>
                    <input class="form-check-input" type="checkbox" th:id="'genreCheckbox-' + ${genre.toString()}" name="selectedGenres" th:value="${genre.toString()}" th:checked="${selectedGenres.contains(genre.toString())}" onclick="submitForm()">
                    <label class="form-check-label" th:for="'genreCheckbox-' + ${genre.toString()}" th:text="${messageSource.getMessage('enum.genre.' + genre.toString(), null, locale)}"></label>
                </li>
            </ul>
            </div>
            <h3 th:text="#{view.library.filter.years}"></h3>
            <div class="year-list" th:classappend="${years.size() > 10} ? 'scrollable' : ''">
            <ul th:each="year : ${years}">
                <li>
                    <input class="form-check-input" type="checkbox" th:id="'yearCheckbox-' + ${year}" name="selectedYears" th:value="${year}" th:checked="${selectedYears.contains(year)}" onclick="submitForm()">
                    <label class="form-check-label" th:for="'yearCheckbox-' + ${year}" th:text="${year}"></label>
                </li>
            </ul>
            </div>
            <button type="submit" th:text="#{view.navigation.find}"></button>
            <button type="reset"  onclick="resetForm()" th:text="#{view.navigation.reset}"></button>
        </form>
        <form th:if="${user != null && user.isAdmin}" th:action="@{/scan}" method="post">
            <button type="submit" th:text="#{view.navigation.library.update}"></button>
        </form>
    </div>
    <div class="games">
        <h3 th:text="#{view.library.games.title}"></h3>
        <div class="sort-type">
            <form id="sortForm" th:action="@{/sort}" method="post">
                <input type="hidden" id="sortField" name="sortFieldCurent" th:value="${sortField}"/>
                <input type="hidden" id="sortType" name="sortTypeCurent" th:value="${sortType}"/>
                <div class="sort-container">
                    <button type="submit" onclick="gotoSort('name')" th:text="#{view.library.games.sort.name} + ${sortType == 'asc' && sortField == 'name' ? ' ▲' : (sortType == 'desc' && sortField == 'name' ? ' ▼' : '')}"></button>
                    <button type="submit" onclick="gotoSort('year')" th:text="#{view.library.games.sort.year} + ${sortType == 'asc' && sortField == 'year' ? ' ▲' : (sortType == 'desc' && sortField == 'year' ? ' ▼' : '')}"></button>
                    <button type="submit" onclick="gotoSort('create')" th:text="#{view.library.games.sort.create} + ${sortType == 'asc' && sortField == 'create' ? ' ▲' : (sortType == 'desc' && sortField == 'create' ? ' ▼' : '')}"></button>
                </div>
            </form>
        </div>
        <div class="pagination">
            <form id="paginationForm1" th:action="@{/filter}" method="post">
                <button th:classappend="${page == 1} ? 'disabled' : ''" type="submit" th:disabled="${page == 1}" th:attr="data-page='1'"  onclick="gotoPage1(this)">««</button>
                <button th:classappend="${page == 1} ? 'disabled' : ''" type="submit" th:disabled="${page == 1}" th:attr="data-page=${page - 1}"  onclick="gotoPage1(this)">«</button>
                <button th:each="number : ${pages}" type="button" th:classappend="${number == page} ? 'active' : ''" th:attr="data-page=${number}" onclick="gotoPage1(this)" th:text="${number}"></button>
                <button th:classappend="${page == totalPages} ? 'disabled' : ''" type="submit" th:disabled="${page == totalPages}" th:attr="data-page=${page + 1}" onclick="gotoPage1(this)">»</button>
                <button th:classappend="${page == totalPages} ? 'disabled' : ''" type="submit" th:disabled="${page == totalPages}" th:attr="data-page=${totalPages}" onclick="gotoPage1(this)">»»</button>
            </form>
        </div>
        <ul>
        <div class="game-list">
            <div th:each="game : ${gameList}" class="game-item">
                <li>
                    <a th:href="'/library/game/' + ${game.id}" style="text-decoration: none; color: inherit;">
                    <span th:text="${game.platform}"></span>
                    <img th:src="${game.logo}" th:alt="${game.name}">
                    <p th:text="${game.name} + ' ('+ ${game.releaseDate} + ')'"></p>
                    </a>
                </li>
            </div>
        </div>
        </ul>
        <div class="pagination">
            <form id="paginationForm2" th:action="@{/filter}" method="post">
                <button th:classappend="${page == 1} ? 'disabled' : ''" type="submit" th:disabled="${page == 1}" th:attr="data-page='1'"  onclick="gotoPage2(this)">««</button>
                <button th:classappend="${page == 1} ? 'disabled' : ''" type="submit" th:disabled="${page == 1}" th:attr="data-page=${page - 1}"  onclick="gotoPage2(this)">«</button>
                <button th:each="number : ${pages}" type="button" th:classappend="${number == page} ? 'active' : ''" th:attr="data-page=${number}" onclick="gotoPage2(this)" th:text="${number}"></button>
                <button th:classappend="${page == totalPages} ? 'disabled' : ''" type="submit" th:disabled="${page == totalPages}" th:attr="data-page=${page + 1}" onclick="gotoPage2(this)">»</button>
                <button th:classappend="${page == totalPages} ? 'disabled' : ''" type="submit" th:disabled="${page == totalPages}" th:attr="data-page=${totalPages}" onclick="gotoPage2(this)">»»</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>