<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="img/logo.jpg" alt="Logo">
    </div>
    <div class="error" th:if="${param.error}">
        <p>Invalid username and password.</p>
    </div>
    <div class="info" th:if="${param.logout}">
        <p>You have been logged out.</p>
    </div>
    <div class="form">
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Введите имя пользователя" required>
            <input type="password" name="password" placeholder="Введите пароль" required>
            <button type="submit" value="Log in">Войти</button>
            <a href="/register">Зарегистрироваться</a>
            <!--<a href="forgot.php">Забыли пароль?</a>-->
        </form>
    </div>
</div>
</body>
</html>
