<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {

            document.getElementById('form').addEventListener('submit', function(e) {
                e.preventDefault(); // Отменить переход на другую страницу

                var username = document.getElementById('username').value; // Имя пользователя
                var password = document.getElementById('password').value; // Пароль
                var passwordRepeate = document.getElementById('password_repeate').value; // Повторный пароль

                // Проверка имени пользователя
                if (username.length < 3 || username.length > 20) {
                    document.getElementById('error').innerText = '[[#{view.user.username.length.error.message}]]';
                    return; // Остановить выполнение кода
                }

                // Проверка пароля
                if (password.length < 6) {
                    document.getElementById('error').innerText = '[[#{view.user.pass.length.error.message}]]';
                    return; // Остановить выполнение кода
                }

                if (password !== passwordRepeate) {
                    document.getElementById('error').innerText = '[[#{view.user.pass.repeat.error.message}]]';
                    return; // Остановить выполнение кода
                }

                e.target.submit();
            });

        });

    </script>
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="img/logo.jpg" alt="Logo">
    </div>
    <div class="error" id="error" th:text="${message != null ? message : ''}"></div>
    <div class="form">
        <form id="form" th:action="@{/register}" method="post" th:object="${registrationForm}">
            <input type="text" id="username" name="username" th:placeholder="#{view.user.username.placeholder}" required th:field="*{username}">
            <input type="password" id="password" name="password" th:placeholder="#{view.user.password.placeholder}" required th:field="*{password}">
            <input type="password" id="password_repeate" name="password_repeate" th:placeholder="#{view.user.repassword.placeholder}" required >

            <button type="submit" value="Register" th:text="#{view.user.register.button}"></button>
            <a th:href="@{/login}" th:text="#{view.user.login.button}"></a>
        </form>
    </div>
</div>
</body>
</html>